@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif ;
}

body {
  background-color: #121132;

}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}


    .on-screen{
      background-color: #3D3C56;
      color: #fff;
      width: 320px;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 1;
    }

     .on-screen .headerb00k {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
      color:yellow;
    }

    .on-screen .headerb00k span {
      margin-left: 8px;
    }

    .on-screen p {
      font-size: 14px;
      margin: 8px 0;
      line-height: 1.5;
    }

    .on-screen .footer {
      font-size: 12px;
      font-weight: bold;
      color: #a9c4ff;
      text-align: right;
    }

.container {
    height: 100%;
    background-color:#0d0f2b;
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .gradient {
  position: absolute;
  background: linear-gradient(to bottom, #13122b00, #13122b);
  bottom: 0;
  left: 0,;
  right: 0;
  height: 40%;
  width: 100%;
}

h1, h2{
    color:white;
    /* font-size: 50px; */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3,);
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 500;
}

p{
    color:white;
}
.container button{
    font-size: 16px;
    color: black;
    background-color: rgba(255, 210, 85 );
    padding: 16px 32px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.sologo{
    align-items: center;
position: absolute;
top: 40px;
left: 50%;
transform: translateX(-50%);

}

.logo {
    font-size: 2em;
    color: rgb(184, 181, 0);
    cursor: default;
}

.logo span {
    color: rgb(255, 255, 255);
}

section {
  max-width: 75%;
  width: 100%;
  margin: auto;
  padding: 80px 0;
  
}
 .next-page{
  position: relative;
  text-align: center;
  width: 100%;
}

.next-page .inner-text {
  width: 550px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-page .inner-text h2 {
  font-size: 32px;
  line-height: 36px;
  width: 100%;
}

.linee{
width: 2px;
height: 100px;
background-color: #5ae5fe;
background: linear-gradient(to bottom, transparent, #32d4ac);
margin: 0 auto;

}
.step-button{
  margin-top: 20px;
  padding: 6px 12px;
  border: none;
  border-radius: 30px;
  background-color: #1b3932;
  color: #32d4ac;
  font-size: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card {
  border-radius: 15px;
  height: 160px;
  width: 100%;
  overflow: hidden;
  flex: 0 1 calc(50% - 20px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}



.cards .card .desc {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  width: 290px;
  height: 100%;
  /* background-color: red; */
  padding-top: 20px;
  padding-left: 30px;

}
.card p {
  font-size: 1em;
  color: #d4eaff;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 1em;
  color: #d4eaff;
}
.card img {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.score-container {  
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.score-container  .score-box {
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(28, 27, 51);
  border-radius: 30px;
  border: 1px solid rgb(28, 27, 51);
  padding: 4px;
  width: 600px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

.score-container .score-box .inner-container {
  width: 100%;
  border-radius: 30px;
  background-color: rgb(20, 20, 34);
  border: 1px solid rgba(143, 46, 46, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.score-container .score-box  .inner-container .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.score-container .score-box  .notch {
  background-color: black;
  border-radius: 12px;
  width: 35px;
  height: 8px;
}

.score-container .score-box  .solid {
  background-color: #1b3932;
  color: #14f1bd;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 80px;  
}

.score-container .score-box .score-value {
  font-size: 3em;
  margin: 10px 0;
}

.score-container .score-box .score-message {
  font-size: 1.2em;
  color: #aad4ff;
  margin-bottom: 30px;
}

.score-container .score-box .inner-container .hr-line {
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
  margin: 60px 0;
}

.score-container .score-box  .inner-container .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.score-container .score-box  .inner-container .social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  width: 80%;
}

.score-container .score-box  .inner-container .social-links .links {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  color: #aad4ff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.score-container .score-box  .inner-container .social-links .links span {
  color: #62626b;
  font-size: 14px;
}

.score-container .score-box  .inner-container .bottom-icon {
  margin-top: 60px;
}

.score-container .mint-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.score-container .mint-container button {
background-color: #d6a770;
color: black;
padding: 10px;
margin-bottom: 20px;
border-radius: 8px;
border: none;

}

.score-container .mint-container div {

}

.downtan{
  background-color: rgba(255,255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap:10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.exclamation{
  font-size: 1.5rem;
  margin-top: 3px;

}
.exclamation p{
  margin: 0;
  line-height: 1.5;
}

.business-economy{
  padding: 20px;
  margin:0 auto;
  text-align: center;
}

.Economy h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #ffffff;
}

.Economy p {
  margin-bottom: 20px;
  font-size: 1rem;
}


.containerz {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: auto auto;
  gap: 20px;
  /* max-width: 1200px; */
  width: 100%;
  margin: 20px;
  padding: 20px;
}

.containerz .cardz {
  background: linear-gradient(145deg, #1a2b49, #12213b);
  border-radius: 15px;
  padding: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

.containerz .cardz .inner-cardz {
  border-radius: inherit;
  border: 1px solid #1B2B60;
}

.containerz .cardz .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid  #1B2B60;
  padding: 10px;
}

.containerz .cardz .head h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #F7F7FC;
}

.containerz .cardz .head div {
  margin: 0 0 15px;
  color: #b0bec5; 
  background-color: #17214C;
  padding: 3px;
  border-radius: 4px;
  font-size: 14px;
}

.cardz .inner-cardz .benefits-list {
margin: 15px;
padding: 0;
  list-style: none;
}

.cardz .inner-cardz .benefits-list li {
display: flex;
  margin-bottom: 10px;
  align-items: center;
  font-size: 1rem;
  color: #b0b0b0;
  gap: 10px;

}


.coinbase{
width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.coinbase h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.verification-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card4 {
  background-color:rgb(23, 22, 53);
  padding: 20px;
  /* display: flex;
  flex-direction: column; */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.card4 .icon {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 40%;
}

.card4 h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.card4 p {
  margin: 5px 0;
  color: #aaaaaa;
}

.card4 .boost {
  color: #3ff8c4;
  font-weight: bold;
}


.card4 button {
  width:300px;
  margin-top: 15px;
  padding: 20px 20px;
  background-color: rgb(26, 25, 59);
  color: rgb(67, 67, 98);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e90ff;
}

.referral-containerz {
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(145deg, #1a2b49, #12213b);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.step-indicatorz {
  font-size: 18px;
  color: #50e3c2; /* Teal color */
  margin-bottom: 15px;
}


.step-indicatorz h1 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #ffffff;
}

.step-indicatorz p {
  color: #b0bec5;
  margin-bottom: 20px;
}

.table-columnbox{
   width: 100%;
   display: flex;
   gap:20px;
   align-items: center;
   flex-direction: column;
}
.referral-sectionz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* align-items: center; */
  margin-top: 20px;
}


.referral-container11 {
  background-color: #162240; /* Slightly lighter blue */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.referhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.referral-container11 .referlink  {
  display: flex;
  align-items: flex-start;
  gap: 10px;

}
.referral-container11 .referspan h5{
  margin: 0;
color:white;
}
h5{
  color: white;
}


.description11 {
  font-size: 0.7em;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
  padding:10px;
  background-color:#121B33;
  color: #c4d3f9; /* Soft text color */
}

.link-container11 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}

.link-container11 input {
  background-color: #0e1a37;
  padding: 10px;
  border-radius: 5px;
}

.referral-link11 {
  flex-grow: 1;
  background: none;
  border: none;
  color: #ffffff;
  padding: 2px;
  font-size: 0.9em;
  outline: none;
}

.referral-link11::placeholder {
  color: #8ec6ff;
}
.two-button{
  display: flex;
  gap:5px;
}
.copy-button11, .copy-button12 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: #0e1a37;
  border: none;
  color: #ffffff;
  font-size: 1em;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.copy-button11:hover {
  background-color: #285a99;
}




.rewards-card13 {
  background-color: #162240; /* Card background */
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Subtle shadow */
  color: white;
}

.rewards-header13 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rewards-icon13 {
  font-size: 1.2em;
  margin-right: 10px;
}

.rewards-title13 {
  font-size: 1.2em;
  font-weight: bold;
}

.rewards-info13 {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.info-icon13 {
  font-size: 1em;
  color: #58a6ff; /* Blue icon */
  margin-right: 10px;
}

.info-text13 {
  font-size: 0.9em;
  color: #58a6ff;
}

.rewards-footer13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reward-balance13 {
  display: flex;
  flex-direction: row;
}

.balance-amount13 {
  
  font-size: 1.5em;
  font-weight: bold;
}

.balance-dollar13 {
  
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6); /* Slightly faded */
}

.collect-rewards-button13 {
  background-color: #2a375a; /* Button background */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.collect-rewards-button:hover {
  background-color: #36517d; /* Lighter blue for hover */
}


.leaderboard-container {
  width: 100%;
  /* max-width: 800px; */
  background-color: #162240;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); */
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.leaderboard-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.leaderboard-tabs {
  display: flex;
}

.tab {
  background-color: #2a375a;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
}

.tab.active {
  background-color: #36517d;
}


.leaderboard-table {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  border-radius: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.leaderboard-table th,
.leaderboard-table td {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* .leaderboard-table th,
.leaderboard-table thead {
  border-radius: 1px solid red;
} */

.leaderboard-table th {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

.community-linkss {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  background-color: rgb(44, 43, 64);
  padding: 16px 32px;
  
  font-size: 16px;
  transition: background 0.3s;
}

.btn img {
  width: 20px;
  height: 20px;
}

.btn:hover {
  background-color: #3b4ccb;
}

section .sec-5 {
  position: relative;
  /* background-color: red; */
}

.moving1{
  position: absolute;
  top: 20px;
  left: 80px;
  /* width:100px;
  height: 100px; */
  animation: up 5s infinite alternate;
} 

.moving2{
  position: absolute;
  bottom: 20px;
  right: 80px;
  /* width:100px;
  height: 100px; */
  animation: down 10s infinite alternate;
} 

@keyframes up {
  from {
    top: 20px;
  }

  to {
    top: 80px;
  }
  
}

@keyframes down {
  from {
  bottom: 20px;
    top: 80px;
  }

  to {

  }
  
}

/* @keyframes UpDown {
  0% {left:0px; top:0px;
  
    }
  
  50% {left:0px; top:100px;
  
    }

    100%{left:0px; top:0px;
      
      }  
  } */

  .moving-down{
    position: absolute;
   top: 20px;
   right: 80px;
   /* width:100px;
   height: 100px; */
   animation: UpDown 10s infinite alternate;} 
   @keyframes UpDown {
     0%{left:0px; top:0px;
     
       }
     
     50%{left:0px; top:100px;
     
       }
       100%{left:0px; top:0px;
         
         }  
   }


.hp h3{
  font-size: 30px;
  color:rgba(255, 255, 255, 0.7);
  margin-top: 20px;

}
.hp p{
  color: #B7B9C1;
  margin-top: 20px;
}


.info-box1 {
  background-color: #161c3A;
  color: #3F8BFA;
  max-width: 400px; 
  padding: 10px 15px; 
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 11px;
  margin-top: 30px;
}

.info-box17{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.action-buttona  {
   display: flex;
   flex-direction: row; 
  padding: 16px 32px; 
  max-width: 200px;
  background-color: #2C2B40;
  border-radius: 10px;
  
} 

.action-buttona img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.action-buttona span{
    color: #F7F7FC;
    font-size: 14px;
}



footer {
  width: 100%;
  padding: 30px 20px;
  background-color: rgb(20, 18, 54);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px; 
  
} 


.footer-logo img{

  margin-bottom: 10px;
} 

.footer-logo p {
  max-width: 300px;
  color: #B4BEB8;
  line-height: 1.5;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links h5 {
  font-size: 8px;
  margin-bottom: 10px;
  color: #73737A;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #feffff;
  font-size: 12px;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: white;
}

.footer-bottom1{
  display: flex;
  gap:250px;
  justify-content: space-evenly;
}
.footer-bottom p {
margin-top: 60px;
margin-bottom: 20px;
color: #73737A;
font-size: 10px;
}

 .icon {
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s;
        cursor: pointer;
        }
        .icon:hover {
            background: rgba(255, 255, 255, 0.2);
        }
        .icon img {
            width: 40%;
            height: 40%;
        }


 .footer-insta {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            justify-content: flex-end;
            margin-left: 20px;
            margin-top: 60px;
        }